--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
fastapi==0.110.0 # to build and serve API endpoints
faiss-cpu # to store and search document embeddings
langchain # framework that orchestrates as a a chain between retrieval and LLM
boto3 # Amazon SDK to connect Claude via AWS
anthropic

# -- Infrastructure --
uvicorn # server to run FastAPI
pandas # data manipulation and r/w files
numpy # for numerical calculations
mlflow==2.19.0 # experiment tracking
pyarrow>=16.0.0  # required for Python 3.13 compatibility
python-dotenv # to read .env file into the app
pydantic-settings # for managing app configurations and settings
pytest        # testing framework
pytest-cov    # test coverage reporting

xgboost==2.0.3
sentence-transformers
shap # to explain model predictions
